<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pojo.Product">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="attribute_list" property="attribute_list" />
        <result column="status" property="status" />
        <result column="info" property="info" />
        <result column="category_id" property="category_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, attribute_list, status, info, category_id
    </sql>
    <select id="getPartProduct" resultType="com.shop.pojo.Product">
        select * from tb_product where category_id=#{category_id} order by rand() limit #{limit}
    </select>

</mapper>
