<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ShopcarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shop.pojo.Shopcar">
        <id column="id" property="id" />
        <result column="product_num" property="product_num" />
        <result column="product_id" property="product_id" />
        <result column="products_price" property="products_price" />
        <result column="order_address" property="order_address" />
        <result column="user_id" property="user_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_num, product_id, products_price, order_address, user_id
    </sql>
    <select id="getAllCar" resultType="com.shop.pojo.UserShopCar">
        select t1.id,t1.product_num ,t1.products_price,t2.img_src,t2.name ,t1.product_id from tb_shopcar t1,tb_product t2 where t1.user_id=#{id} and t1.product_id=t2.id
    </select>

</mapper>
